services:

  db:
    image: postgres:15-alpine
    container_name: no_pain_db
    restart: always
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5433:5432" # Map to 5433 on host to avoid conflicts with other PostgreSQL instances
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U ${POSTGRES_USER}" ]
      interval: 5s
      timeout: 5s
      retries: 5

  app:
    build: .
    container_name: no_pain_app
    restart: always
    env_file: .env
    ports:
      - "8001:8001"
    volumes:
      - .:/app
    depends_on:
      db:
        condition: service_healthy
    command: >
      poetry run gunicorn -k uvicorn.workers.UvicornWorker --bind 0.0.0.0:8001 --workers 4 --forwarded-allow-ips "*" main:app

volumes:
  postgres_data:
