services:

  app:
    build: .
    container_name: no_pain_app
    restart: always
    env_file: .env
    ports:
      - "8001:8001"
    volumes:
      - .:/app
    command: >
      poetry run gunicorn -k uvicorn.workers.UvicornWorker
      --bind 0.0.0.0:8001
      --workers 4
      --forwarded-allow-ips "*"
      main:app
