{% extends "shared/base.html" %} {% block title %}
<title>Login</title>
{% endblock %} {% block page_heading %}Login{% endblock %} {% block content %}


<div class="mb-3">
  <form method="POST">
    <div class="form-floating mb-3">
      <input type="email" class="form-control" name="email" placeholder="name@example.com" value="{{ form.email }}" />
      <label>Email address</label>
    </div>
    <div class="form-floating mb-3">
      <input type="password" required placeholder="Your password" value="{{ form.password }}" name="password"
        class="form-control" />
      <label>Password</label>

      <div class="mt-2">
        <a href="/forgot-password" class="small text-muted">Forgot your password?</a>
      </div>
    </div>

    <!-- Button row -->
    <div class="d-flex justify-content-between align-items-center mb-3">
      <a href="/register" class="btn btn-outline-secondary">Create a new account</a>
      <button type="submit" class="btn btn-primary">Login</button>
    </div>

    <div class="d-flex">
      <a href="/login/google" class="btn btn-outline-danger">
        <i class="bi bi-google"></i> Login with Google
      </a>
    </div>
  </form>

</div>
{% endblock %}