{% extends "shared/base.html" %}
{% block title %}
    <title>Working hours</title>
{% endblock %}


{% block content %}
    <div class="container mt-4">
        <h5 class="mt-4 p-5 display-5">Select practice</h5>
        <div class="row row-cols-auto">
            {% for practice in practices %}
                <div class="col-auto p-2">
                {% with practice=practice, add_working_hours=add_working_hours%}
                    {% include "components/practice_list_card.html" %}
                {% endwith %}
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}