{% extends "shared/base.html" %}
{% block title %}
    <title>Working hours</title>
{% endblock %}


{% block content %}
    <div class="container">
        <h5 class="mt-4 p-5 display-5">Add working hours</h5>
        <div class="row">
            <div class="col-auto">
                {% with practice=practice %}
                    {% include "components/practice_list_card.html" %}
                {% endwith %}
            </div>
            <div class="col">
                <form method="POST">
                    <div class="form-group">
                        <div class="container p-3">
                            {% with working_hours=working_hours %}
                                {% with name="Monday" %}
                                    {% include "components/working_hour_pick.html" %}
                                {% endwith %}
                                {% with name="Tuesday" %}
                                    {% include "components/working_hour_pick.html" %}
                                {% endwith %}
                                {% with name="Wednesday" %}
                                    {% include "components/working_hour_pick.html" %}
                                {% endwith %}
                                {% with name="Thursday" %}
                                    {% include "components/working_hour_pick.html" %}
                                {% endwith %}
                                {% with name="Friday" %}
                                    {% include "components/working_hour_pick.html" %}
                                {% endwith %}
                                {% with name="Saturday" %}
                                    {% include "components/working_hour_pick.html" %}
                                {% endwith %}
                                {% with name="Sunday" %}
                                    {% include "components/working_hour_pick.html" %}
                                {% endwith %}
                            {% endwith %}
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>

{% endblock %}