{% extends "shared/base.html" %}


{% block title %}
<title>Doctor Register</title>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <h5 class="mt-4 p-5 display-5">Register as a doctor</h5>
        <div class="text-danger font-weight-bold">
            {% for error in errors %}
            <li>{{error}}</li>
            {% endfor %}
        </div>
    </div>

    <div class="mb-3">
        <form method="POST">
            <div class="row mb-3">
                <div class="col">
                    <label for="first_name">First name</label>
                    <input type="text" required class="form-control"
                           id="first_name" name="first_name" value="{{first_name}}"
                           placeholder="First name">
                </div>
                <div class="col">
                    <label for="last_name">Last name</label>
                    <input type="text" required class="form-control"
                           name="last_name" id="last_name" value="{{last_name}}"
                           placeholder="Last name">
                </div>
            </div>
            <div class="row mb-3">
                <div class="col">
                    <label>Speciality</label>
                    <select class="form-select" id="speciality_dropdown"
                            aria-label="Default select example">
                        <option selected>Select</option>
                        {% for speciality in doctor_speciality %}
                        <option value="{{ speciality.name }}">
                            {{ speciality.value }}
                        </option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col">
                    <label>Email</label>
                    <input type="email" required placeholder="Your email"
                           name="email" value="{{email}}"
                           class="form-control">
                </div>
            </div>
            <div class="row mb-3">
                <div class="col">
                    <label>Password</label>
                    <input type="password" required
                           placeholder="Choose a secure password"
                           value="{{password}}" name="password"
                           class="form-control">
                </div>

                <div class="col">
                    <label>Repeat password</label>
                    <input type="password" required
                           placeholder="Repeat password"
                           value="{{repeat_password}}" name="repeat_password"
                           class="form-control">
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>
{% endblock %}
