<div class="container p-2">
    <div class="row">

        <div class="col-md-3">
            {{ name }}:
        </div>
        <div class="col-md-5">
            <input id={{ name }}_start name={{ name }}_start width="120" placeholder="From"/>
            <script>
                $('#{{ name }}_start').timepicker({
                    uiLibrary: 'bootstrap5'
                });
            </script>
        </div>
        <div class="col-md-4">
            <input id={{ name }}_end name={{ name }}_end width="120" placeholder="To"/>
            <script>
                $('#{{ name }}_end').timepicker({
                    uiLibrary: 'bootstrap5'
                });
            </script>
        </div>
    </div>
</div>